/* globals.css */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Global Font Settings */
.funnel-sans {
  font-family: "Funnel Sans";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Dark Mode Handling */
:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

/* Responsive Layout Adjustments */
.container-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 45px;
}

@media (min-width: 768px) {
  .container-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1024px) {
  .container-wrapper {
    margin-left: 200px;
    margin-right: 200px;
  }
}

body {
  background-color: var(--background);
}

/* Ensuring Images Scale Responsively */
img {
  max-width: 100%;
  height: auto;
}

/* Button Adjustments for Mobile */
button {
  padding: 10px 15px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

/* Counterclockwise Animation */
@keyframes spin-counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg); /* Negative value for counter-clockwise */
  }
}

.animate-spin-counterclockwise {
  animation: spin-counterclockwise 40s linear infinite;
}

