/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Global Font Settings */
.funnel-sans {
  font-family: "Funnel Sans";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Dark Mode Handling */
:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

/* Responsive Layout Adjustments */
.container-wrapper {
  /* Default for smallest screens (below 320px) */
  margin-left: 16px;
  margin-right: 16px;
}




/* 2xs - 320px */
@media (min-width: 320px) {
  .container-wrapper {
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* xs - 375px */
@media (min-width: 375px) {
  .container-wrapper {
    margin-left: 32px;
    margin-right: 32px;
  }
}

/* sm - 425px */
@media (min-width: 425px) {
  .container-wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* md - 768px */
@media (min-width: 768px) {
  .container-wrapper {
    margin-left: 80px;
    margin-right: 80px;
  }
}

/* lg - 1024px */
@media (min-width: 1024px) {
  .container-wrapper {
    margin-left: 120px;
    margin-right: 120px;
  }
}

/* xl - 1440px */
@media (min-width: 1440px) {
  .container-wrapper {
    margin-left: 160px;
    margin-right: 160px;
  }
}

/* 2xl - 1920px */
@media (min-width: 1920px) {
  .container-wrapper {
    margin-left: 200px;
    margin-right: 200px;
  }
}

/* 3xl - 2560px */
@media (min-width: 2560px) {
  .container-wrapper {
    margin-left: 240px;
    margin-right: 240px;
  }
}

body {
  background-color: var(--background);
}

/* Ensuring Images Scale Responsively */
img {
  max-width: 100%;
  height: auto;
}

/* Button Adjustments for Mobile */
button {
  padding: 10px 15px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

/* Counterclockwise Animation */
@keyframes spin-counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg); /* Negative value for counter-clockwise */
  }
}

.animate-spin-counterclockwise {
  animation: spin-counterclockwise 40s linear infinite;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #8133f1 #060116;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #060116;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #8133f1;
    border-radius: 20px;
  }
}

/* globals.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
